<div class="container">
	<h2 class="text-center">Sign up</h2>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4 well well-sm">
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				<%= devise_error_messages! %>

				<div>
					<%= f.label :email %><br />
					<%= f.email_field :email, autofocus: true %>
				</div>

				<div>
					<%= f.label :password %><br />
					<%= f.password_field :password, autocomplete: "off" %>
				</div>

				<div>
					<%= f.label :password_confirmation %><br />
					<%= f.password_field :password_confirmation, autocomplete: "off" %>
				</div>

				<div>
					<%= f.label 'Role' %><br />
					<%= f.select(:role_ids, Role.find(:all).collect{|u| [u.name, u.id]}, :prompt => 'I am ..') %>
				</div>
				
				<div>
					<%= f.submit "Sign up", :class => "btn btn-primary submit-btn" %>
				</div>
			<% end %>

			Already a member? <%= render "devise/shared/links" %>
		</div>
	</div>
</div>
